.tile-container {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(10, 1fr);
  }
  .tile {
    width: 5vw;
    height: 5vw;
    background-color: #000;
    transition: all 0.1s ease-in-out;
    &:hover {
      border: 3px solid black;
    }
    @media screen and (max-width: 500px) {
      width: 10vw;
      height: 10vw;
    }
  }
}
h1 {
  background-color: #fff;
  border: 3px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

button {
  background-color: #fff;
  border: 3px solid black;
  display: flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  margin: 0.5rem auto;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
  &:active {
    transform: scale(0.9);
  }
}
.win {
  animation: blink 200ms linear infinite;
}
.timer {
  background-color: #fff;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  width: 100%;
  .time,
  .explanation,
  .current-time {
    padding: 0.5rem;
    font-size: 1.5rem;
    @media screen and (max-width: 500px) {
      font-size: 1rem;
    }
  }
  .time {
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  .current-time {
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  span {
    font-weight: bold;
  }
  .best-time {
    animation: blink 200ms linear infinite;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
